@import 'variables';

.hero {
    background: url(/img/hero-bg-image.png) center center;
    background-size: cover;
    .inner {
        padding-bottom: 100px;
        background: rgba(20, 23, 34, 0.8);
    }
    h1 {
        margin: 100px 0 30px;
    }
    .subheader-large {
        margin: 60px 0;
        font-size: 35px;
        text-align: center;
    }
    .subheader {
        margin: 30px 0 60px;
        font-size: 18px;
        line-height: 25px;
        text-align: center;
    }
    button.get-cost {
        display: block;
        margin: 0 auto;
    }
    .hero-card {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 50px;
        img {
            width: 60px;
        }
        .hero-card-text {
            margin-left: 20px;
        }
    }
}

.process {
    .proc-card {
        text-align: center;
        margin-bottom: 50px;

        img {
            width: 100px;
        }

        .proc-subheader {
            padding-top: 36px;
        }

        h4 {
            font-size: 18px;
        }
    }
}

.slider {
    padding: 77px 0 110px;
    img {
        max-width: 100%;
    }
    .slick-slide .inner {
        padding: 0 10px;
    }
    .slick-arrow {  
        color: $white;
        font-size: 30px;
        width: 22px;
        height: auto;
        opacity: 0.85;
    }
    .slick-arrow:hover { opacity: 1; }
    .slick-prev { margin-left: -20px; }
    .slick-next { margin-right: -20px; }
}

.video {
    padding-bottom: 50px;

    iframe {
        width: 100%;
    }

    .video-text-container {
        padding-left: 25px;
    }
}

/*
.materials {
    background: $dark;

    .material-card {
        text-align: center;

        p {
            margin: 0;
        }

        margin-bottom: 40px;

        .inner {
            padding: 50px 40px;
            height: 100%;
            border: 1px solid #909294;
        }
    }
}
*/

.faq {
    padding-bottom: 60px;
    background: $dark;

    .accordion > .card {
        background: transparent;
        border: none;
    }

    .accordion > .card > .card-header {
        font-size: 24px;
        background: transparent;
        border-bottom: 2px solid rgba(144, 146, 148, 0.3);
        margin-bottom: 1px;

        .accordion-header {
            padding: 20px 0;
            cursor: pointer;
            display: flex;
        }
        .inner {
            flex: 1;
        }
    }

    .accordion-icon {
        align-self: center;
        padding-left: 10px;
        color: $accent;
        height: 100%;
    }

    .card-body {
        padding: 1.25rem;
        line-height: 1.6;
        text-align: justify;
        ul {
            padding-left: 20px;
            margin-top: 15px;
        }
    }
}

.social-i {
    a {
        display: inline-block;
        cursor: pointer;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        line-height: 40px;
        margin-right: 18px;
        background-color: $white;
        color: $bg;
        text-align: center;
        font-size: 23px;
    }
}

.contact {
    padding-bottom: 100px;

    .caption {
        color: $gray;
        margin-bottom: 20px;
    }

    .value {
        margin-bottom: 30px;
        font-size: 24px;
    }

    .social-i {
        margin-top: 10px;
    }

    .get-cost {
        margin-top: 20px;
    }
}

.overlay {
    position: fixed;
    top: 0; left: 0; bottom: 0;
    width: 100%;
    z-index: 20;
    background: rgba(0, 0, 0, 0.5);
    cursor: pointer;

    .modal {
        cursor: auto;
        display: block;
        position: relative;
        background: $bg;
        height: auto;
        border: 3px solid $accent;
        margin: 0 auto;
        .head { 
            margin-bottom: 20px; 
            svg { 
                font-size: 24px; 
                cursor: pointer;
                float: right;
            }
        }
        h4 { text-align: center; }
    }
}

.modal.contact-modal {
    padding: 20px;
    width: 500px;
    margin-top: 300px;
}


// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {
    .hero {
        .subheader, .subheader-large {
            margin: 30px 0;
            font-size: 18px;
        }

        .inner {
            padding-bottom: 60px;
        }
    }

    .process {
        .proc-card {
            margin-bottom: 40px;

            img {
                width: 60px;
            }
        }
    }

    .video {
        padding-bottom: 30px;
    }
    .video-text-container {
        margin-top: 20px;
    }

    .materials {
        .material-card {
            margin-bottom: 20px;

            .inner {
                padding: 30px 20px;
                height: 100%;
                border: 1px solid #909294;
            }
        }
    }

    .faq {
        margin-bottom: 40px;

        .accordion > .card > .card-header {
            font-size: 20px;

            .inner {
                padding: 10px 0;
            }
        }
    }

    .contact {
        padding-bottom: 50px;

        .caption {
            font-size: 15px;
            margin-bottom: 15px;
        }

        .value {
            font-size: 18px;
            margin-bottom: 20px;
        }
    }
}

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {
    .contact {
        .get-cost {
            display: block;
            margin: 30px 0 20px;
        }
    }

    .hero {
        .hero-card {
            flex-direction: column;
            .hero-card-text {
                margin-left: 0px;
                margin-top: 20px;
                text-align: center;
            }
        }
    }

    .process .proc-card .proc-subheader {
        font-size: 16px;
    }
}

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
    .slider {
        width: 90%;
        margin-left: 5%;
    }
    .contact {
        .get-cost {
            width: 100%;
        }
    }

    .modal.contact-modal {
        width: 300px;
        margin-top: 100px;
    }
}

